@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:250,400);

$fontFamily: 'Source Sans Pro', sans-serif;
$colorBlueAnt: #1890ff;
$backgroundGreen: rgba(55, 152, 65, 255);
$backgroundRed: rgba(242, 45, 45, 255);
