.wrap-home {
    width: 100vw;
    height: 100vh;

    .slide-menu {
        height: 100%;
        background: #7050a3;
        color: white;
        font-size: 1em;
        font-weight: 650;
        border: 1px solid rgba($color: #fff, $alpha: 0.5);
        .header {
            height: 65px;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
            @include flexBox(row, center, center);

            a {
                font-size: 1.5em;
                color: white;
            }
        }

        .menu {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
            padding: 10px 5px 20px 5px;
            ul,
            li {
                margin: 0;
                list-style: none;
            }

            li {
                cursor: pointer;
                word-spacing: 0px;
                font-weight: 500;
                padding: 15px 18px;
                font-size: 17px;
                transition: all ease 0.2s;
                @include flexBox(row, flex-start, flex-end);
                svg {
                    transition: all ease 0.2s;
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
            }

            li:hover {
                background-color: #daa619;
            }

            .active {
                color: #fff !important;
                background-color: #daa619;
            }

            .status p {
                font-family: $fontFamily !important;
                font-weight: 600;
            }
        }
    }

    .content {
        height: 100%;
        background-color: rgb(243, 245, 245);
        color: black;
        font-size: 1em;
        font-weight: 600;
        transition: all ease 0.3s;

        .header {
            height: 65px;
            padding: 5px;
            box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.1);
            background-color: #fff;
            @include flexBox(row, space-between, center);
            padding: 0px 30px 0px 20px;

            .right {
                cursor: pointer;
                color: #000000;
                font-size: 1em;
                opacity: 1;
                transition: all ease 0.2s;
                img {
                    width: 18px;
                    height: 18px;
                    margin-right: 7px;
                }
            }

            .right:hover {
                opacity: 0.5;
            }

            .change-pass {
                cursor: pointer;
                transition: all ease 0.2s;
            }

            .change-pass:hover {
                color: $colorBlueAnt;
            }
        }

        .wrap-table {
            padding: 20px;

            .table,
            .wrap-link {
                width: 100%;
                height: 100%;
                background-color: #fff;
                box-shadow: 0px 1px 5px rgba($color: #000000, $alpha: 0.1);

                .table-header {
                    padding: 0px 20px;
                    height: 65px;
                    @include flexBox(row, space-between, center);

                    p {
                        font-size: 1.3em;
                    }
                }

                & > .table-contain {
                    padding: 10px 20px 20px 20px;
                }
            }
        }
    }
}
@import './listUserComponent/Table';
@import './toolComponent/Tool';
@import './linkComponent/LinkView';
