.ant-modal-body {
    padding: 50px 24px;
    @include flexBox(column, flex-start, center);

    .wrap-change-pass {
        form {
            @include flexBox(column, flex-start, center);

            & > div {
                position: relative;
                margin-bottom: 25px;

                input {
                    width: 300px;
                    color: black !important;
                    font-size: 18px;
                }

                p {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    transition: all ease-in-out 0.3s;
                    color: red;
                }
            }

            button {
                margin-top: 20px;
                @include button;

                span {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }
    }
}
